/* @font-face {
    font-family: 'Emulogic';
    src: url("C:\Users\royab\OneDrive\RidaKharrl\Rida Kharrl Laptop HP Pavilion\Documents\UTS\3rd year\IS Capstone A\Fonts\Emulogic-zrEw.ttf") 
    format('truetype');
  }
  @font-face {
    font-family: 'Arcade Gamer';
    src: url("C:\Users\royab\OneDrive\RidaKharrl\Rida Kharrl Laptop HP Pavilion\Documents\UTS\3rd year\IS Capstone A\Fonts\Arcade Gamer.otf") 
    format('truetype');
    /* Add more src formats as needed (e.g., woff, woff2) */
  @font-face {
    font-family: 'Gamer'; /* Font family name */
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype'); /* Path to your TTF font file */
    font-weight: normal;
    font-style: normal;
  }
/* Additional styling */
body {
  font-family: 'Gamer'; /* Use the custom font */
}
/* TO USE THE FONT - Just make fontFamily:"Gamer" */

 @font-face {
  font-family: 'RobotoMonov'; /* Font family name */
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype'); /* Path to your TTF font file */
  font-weight: normal;
  font-style: normal;
}
body {
font-family: 'RobotomonoV'; /* Use the custom font */
}


 @font-face {
  font-family: 'RobotomonoI'; /* Font family name */
  src: url('../fonts/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype'); /* Path to your TTF font file */
  font-weight: normal;
  font-style: normal;
}
body {
font-family: 'Roboto Mono I'; /* Use the custom font */
}