/* TEXTS AND FONTS: */
/* QuizHome: */
.quiz-button{
 /* make button smaller --> next question button on quiz pages*/ 
  margin-top: 175px;
  margin-left: 360px;
  width: 149px;
  height: 44px;
}

.button-text
{
  color: black;
  position: absolute;
  margin-top: -51px;
  margin-left: 32px;
  font-size: 15px;
  font-family: 'Gamer';
  z-index: 3;
  word-wrap: normal;
  width:450px;
}

.button-text:active
{
  text-decoration: none;
  text-emphasis-color: black;
  
}

.white-text{
  color: white;
  position: absolute;
  margin-top: 37px;
  margin-left: 158px;
  font-family: system-ui;
  font-size: 23px;
}


/* QuizPages: */
.question-no-text{
  padding:90px;
  position:absolute;
  color: #ffffee;
  text-decoration: underline;
  font-family: 'RobotoMonov';
  font-size: 80px;
}

.question-text{
  padding:90px;
  position:absolute;
  color: #ffffee;
  font-family: 'RobotoMonov';
  font-size: 25px;
  margin-top: 130px;
  max-width: 50%;
  
}

/* CONTAINERS AND IMAGES: */

/* QuizHome: */
.container-quiz {
  padding-top:13px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-family: 'Gamer';
 }

.quiz-image-stack { 
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.quiz-image-stack__item--bottom {
  grid-column: 5 / -2;
  grid-row: 1;
  padding-top: 35%;
  padding-left: 4%;
  z-index: 2;   
}

.quiz-image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 13px; 
  z-index: 1; 
}

.quiz-img {
  max-width: 100%;
  display: block;
}

/* QuizPages: */

.multiple-choice-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding-top:3%;
  width:760px;
  margin: 0px;
  
}

.multiple-choice-button {
 
  padding: 20px;
  font-size: 30px;
  text-align: left;
}




