.elementList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .element {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  } 
/* .Typography.Muiselected.fontss {
  font-family: 'Press Start 2P', cursive;
  font-size: 1000;
} */
  /* .navbar {
    position: fixed;
    top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  }
  .Sidebar {
    margin-top: 64px;
  } */